DirectoryIndex script.php
ErrorDocument 401 "Unauthorized"
ErrorDocument 403 "Forbidden"

Header set Cache-Control "max-age=604800, public"

RewriteEngine On
RewriteRule ^script.js$ script.php [L,QSA]