.main input,
.main textarea,
.main select{
	padding: 8px;
	font-size: 120%;
	background: #ffffff;
	color: #004184;
	width: calc(100% - 16px);
	text-decoration: none!important;
	display: block;
	position: relative;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0,0,0,.6);
}
.main select{
	width: initial;
	display:initial;
}
.main input:hover, .main input:focus,
.main textarea:hover, .main textarea:focus  {
	box-shadow: 0 2px 8px rgba(0,0,0,.6);
}
.main input[type=submit],.main input[type=button],.main button{
	text-decoration: none!important;
	color: #004184!important;
	background: #f0f0f0;
	height: auto;
	display: block;
	border: 1px solid #ffffff;
	position: relative;
	overflow: hidden;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	transition: background-color .3s;
	cursor:pointer;
}
.main input[type=submit]:hover,.main  input[type=button]:hover, .main button:hover,
.main input[type=submit]:active, .main input[type=button]:active, .main button:active {
	box-shadow: 0 1px 6px rgba(0, 0, 0, .7);
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px!important;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px!important;
  cursor: pointer;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 1000px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '●';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

label:hover:before {
  border: 1px solid #4778d9!important;
}


input[type="file"] {
	position: relative;
	width: 100%;
	height: 150px;
	background: _main_form_button_bgcolor_;
	border: 2px dashed white;
	outline: none;
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

input[type="file"] {
	position: relative;
	width: 100%;
	height: 150px;
	background: #700000;
	border: 2px dashed white;
	outline: none;
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

input[type="file"]:hover {
	background: #004184;
}

input[type="file"][data-text-enabled="1"]:before {
	content: attr(data-text)!important;
}
input[type="file"][multiple]:before {
	content: "DRAG AND DROP FILES HERE";
}
input[type="file"]:before {
	content: "DRAG AND DROP FILE HERE";
	display: block;
	font-size: 32px;
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
}

input[type="file"]:active {
	background: #004184;
}