#load:checked ~body {
	overflow: hidden!important;
}
#load:checked ~.main {
	opacity: 0.7;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}
#load:checked ~div .atss-left {
	left: -48px!important;
}
#onscroll:checked ~.header {
	height: 90px!important;
}
#onscroll:checked ~.header .h1 {
	font-size: 75px!important;
}
@media (max-width: _reticle_hugescreen_barier_) {
	.header {
		height: 90px!important;
	}
	#onscroll:checked ~.header {
		height: 120px!important;
	}
	#onscroll:checked ~.main {
		padding-top: 130px;
	}
}

.header {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	height: 60px;
}

.header .h1 {
	font-size: 52px;
	left: calc(8% - 16px);
}

.header nav {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: calc(8% - 16px);
	bottom: -5px;
	height: auto;
	width: calc(84% + 48px);
	display: block;
	text-align: right;
}

.header nav a {
	overflow: hidden;
	cursor: pointer;
	color: _theme_text_color_;
	text-decoration: none;
	display: inline-block;
	padding: 0px 16px 11px 16px;
	border-bottom: 5px solid _theme_main_dark_color_;
	text-align: center;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

@media (max-width: _reticle_hugescreen_barier_) {
	.header nav a {
		width: calc(33.333333333% - 32px)!important;
	}
}

.header nav a:hover,
.header nav a:focus,
.header nav a:active {
	border-bottom: 5px solid _theme_text_color_;
}

.separator {
	width: 2em;
	border: none!important;
	cursor: default!important;
}

.aside {
	display: none!important;
	z-index: 99;
	opacity: 0;
}

.header .displayer {
	display: none;
}

.main {
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition-duration: 1s;
	margin-bottom: 16px;
	padding: 24px;
	width: 84%;
	margin-left: calc(8% - 16px);
	padding-top: 100px;
	display: block;
}

.wn {
	float: right;
	height: 500px;
	margin-bottom: 16px;
	width: 49%;
	min-width: 200px;
	border: 1px _theme_main_dark_color_ solid;
	cusor: pointer;
}

table {
	font-size: 110%;
}

menu {
	width: 50%;
	padding: 0px;
}

menu a{
	margin-bottom: 12px;
	padding: 16px;
}

menu a:hover,
menu a:active {
	background: _theme_main_dark_color_!important;
}

h1 {
	font-size: 200%;
	padding: 16px;
	margin: 0px;
}

h2 {
	font-size: 125%;
	padding: 8px;
	margin: 0px;
	padding-top: 32px;
}

.screenshot {
	max-width: 30%;
}

.card {
	margin: 16px;
}
.card.cw1{
	width: calc(100% - 66px);
}
.card.cw2{
	width: calc(50% - 66px);
}
.card.cw3{
	width: calc(33% - 66px);
}
@media (max-width: _reticle_hugescreen_barier_) {
	.card.cw1{
		width: calc(100% - 66px);
	}
	.card.cw2{
		width: calc(50% - 66px);
	}
	.card.cw3{
		width: calc(50% - 66px);
	}
}
.footer {
	margin-bottom: 16px;
	padding: 8px;
	width: calc(84% + 32px);
	margin-left: calc(8% - 16px);
}

.ad_wrapper {
	margin-left: 8px;
}