#load:checked ~body {
	overflow: hidden!important;
}

#load:checked ~.main {
	margin-top: 10vh;
}

#load:checked ~.share-wrapper{
	left: -48px!important;
}
.bg_wrapper, .bg_wrapper:after{
	height:60%!important;
}
.header {
	margin-bottom: 4vh;
}

.header .h1 {
	font-size: 16vh;
	padding-top:4vh;
}
.header nav a {
	font-size:24px;
}

.header nav a:hover,
.header nav a:focus,
.header nav a:active {
	border: 1px solid #ffffff;
	background: rgba(0,0,0,0.3);
}

.main {
	padding: 64px;
	width: 90%;
	width: calc(90% - 128px);
	margin-left:5%;
	margin-bottom: 16px;
	display: block;

	background:#ffffff;
	border-radius:4px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}

.main .wn {
	float: right;
	height: 500px;
	width: 500px;
	margin-bottom: 16px;
	cusor: pointer;
}

.main table {
	font-size: 110%;
}


.main menu a,
.main .btn{
	margin:4px;
	padding: 16px;
	width: calc(50% - 40px);
	display: inline-block;
}

.main h1 {
	font-size: 200%;
	padding-bottom: 16px;
	margin: 0px;
}

.main h2 {
	font-size: 125%;
	padding-bottom: 8px;
	margin: 0px;
	padding-top: 32px;
}

.main .screenshot{
	margin: 1px;
	margin-bottom: -2px;
	max-width: calc(50% - 2px);
	display: inline-block;
}
.main .card {
	margin: 16px;
}
.main .cw1{
	width: calc(100% - 68px);
}
.main .cw2{
	width: calc(50% - 68px);
}
.main .cw3{
	width: calc(33% - 68px);
}
.main .cw2_3{
	width: calc(66% - 68px);
}
@media (max-width: _reticle_hugescreen_barier_) {
	.main .cw1{
		width: calc(100% - 68px);
	}
	.main .cw2{
		width: calc(50% - 68px);
	}
	.main .cw3{
		width: calc(50% - 68px);
	}
	.main .cw2_3{
		width: calc(100% - 68px);
	}
}

.footer {
	padding: 0 64px;
	width: 80%;
	width: calc(80% - 128px);
	margin-left: 10%;
	margin-bottom: 16px;
	border-radius: 4px;
}

.right_block{
	float:right;
	width: calc(35% - 64px);
	padding: 16px;
	max-height: 100%;
	overflow-y: auto;
}

.right_block a.li:hover:before{
	padding-right: 6px;
}
.mark_block {
	width: calc(50% - 32px);
	padding: 16px;
	margin:8px;
}