body{
	background:#fafafa;
	color:#fafafa;
	margin:0px;
	font-family: 'Lato Thin', Arial;
	font-size:120%;
}

body *{
	-webkit-transition-duration: 0.3s!important;
	-o-transition-duration: 0.3s!important;
	-moz-transition-duration: 0.3s!important;
	transition-duration: 0.3s!important;
}

a,a:focus, a:visited{
	color:fafafa;
	text-decoration:none!important;
	cursor:pointer;
}

.header {
    border-bottom:5px solid #004184;
    z-index: 3;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #047DFC;
    height: 48px;
}

.header .h1{
	font-size: 36px;
	position:fixed;
	top:4px;
	left: 48px;
	margin:0px;
}

.header nav{
	text-align:right;
	position:absolute;
	left: 48px;
	bottom:-3px;
	width: calc(100vw - 112px);
	padding:8px;
}

.header nav a{
	padding:6px;
	border-bottom: 5px solid transparent;
	margin-bottom: -5px;
}
.header nav img.icon {
	width: 1em;
	height: 1em;
	border: none;
	vertical-align: middle;
	margin: 0px 1px!important;
}
.header nav a:hover{
	border-bottom: 5px solid #fafafa;
	margin-bottom: -5px;
}

.main{
	margin-top:53px;
	padding:16px;
	background:#9E9E9E;
	width: calc(100vw - 144px);
	margin-left: 48px;
	height: calc(100vh - 85px);
	overflow-y: scroll;
}

input, textarea, select{
	padding:8px;
	border:0px solid transparent;
	background:#fafafa;
	max-width:90%;
	border-radius:0px;
	margin:4px;
}
label{font-size:120%;width:80%;}
.right_block{
	position: fixed;
	right: 96px;
	top: 64px;
	width: calc(35% - 64px);
	background: #047DFC;
	padding: 16px;
}
.right_block h1{
	font-size:125%;
	margin-top: 0px;
}
.right_block a.li{
	font-size:125%;
	display:block;
	width:auto;
}

.right_block a.li:before{
	content: '► ';
}
.right_block a.li:hover:before{
	padding-right: 6px;
}
.mark_block {
	border-bottom: 5px solid #004184;
	z-index: 3;
	width: calc(50% - 32px);
	background: #047DFC;
	height: 48px;
	padding: 16px;
	margin:8px;
}
.coment{
	display:block;
	margin: 8px 0px;
	padding: 0px 8px;
	border-left: 5px solid #004184;
}
.arrow{
	padding: 8px;
}
.mark{
	float:right;
	font-size:130%;
	padding:8px;
	margin:-15px;
	background: #CB2237;
}
.m1{
	background: #CB2237;
}
.m2{
	background: #DC3338;
}
.m3{
	background: #EA4438;
}
.m4{
	background: #F25437;
}
.m5{
	background: #E46538;
}
.m6{
	background: #D37738;
}
.m7{
	background: #C58837;
}
.m8{
	background: #B59936;
}
.m9{
	background: #A7AC38;
}
.m10{
	background: #97BA38;
}
.m11{
	background: #88CC37;
}
.m12{
	background: #7ADC37;
}
.m13{
	background: #7ADC37;
}





#!!!!loader {
	width: 20vw;
	height: 5px;
	opacity:1;
	background: #fafafa;
	position:absolute;
	bottom:-5px;
	-webkit-animation-name: load;
	animation-name: load;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@-webkit-keyframes load {
	0%{
		left: -10vw;
		width: 5vw;
	}
	50%{
		width: 20vw;
	}
	100%{
		left: 100vw;
		width: 5vw;
	}
}