::selection {
    background-color: _theme_main_dark_color_;
    color:  _theme_text_color_;
}
.fl_l{float:left;}
.fl_r{float:right;}

body {
	background: _theme_last_bg_color_;
	font-family: _theme_font_family_;
	font-weight: _theme_font_weight_;
	letter-spacing: 1px;
	font-size: 150%;
	color: _theme_text_color_;
	cursor: default;
	margin: 0px;
	overflow-x: hidden;
}

body * {
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;

	font-family: _theme_font_family_;
	font-weight: _theme_font_weight_;
	outline: none;
}

#load,
#onscroll,
#aside_dis {
	position: fixed;
	opacity: 0.001;
	top: -46.5px;
	visibility: hidden;
}

.header {
	display: block;
	z-index: 3;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	background: _theme_main_light_color_;
	border-bottom: 5px _theme_main_dark_color_ solid;
}

.header .h1 {
	position: absolute;
	content: "Blast.ORQ";
	display: block;
	z-index:2;
}

.main {
	overflow: hidden;
	display: block;
	border-radius: 0px;
	background: _theme_main_wrapper_color_;
	height: auto;
}

.main * {
	border-radius: 0px;
}
a{
	color: _theme_text_color_;
	text-decoration: none;
}
.main p{
	margin-top: 8px;
	margin-bottom: 8px;
}

input,
textarea,
select {
	padding: 4px;
	border: 1px solid _theme_main_dark_color_;
	font-size: 100%;
	background: _theme_text_color_;
	color: _theme_main_dark_color_;
	border-radius: 0px;
}

table {
	max-width: 100%;
	border-collapse: collapse;
	border-color: _theme_main_wrapper_color_;
	background: _theme_main_light_color_;
}

table,
table tr,
table td,
table th {
	border: 2px solid _theme_main_wrapper_color_;
}

.main a {
	text-decoration: underline;
	cursor: pointer;
}

menu a,
.aside a{
	text-decoration: none!important;
	color: _theme_text_color_;
	background: _theme_main_light_color_;
	height: auto;
	display: block;
	border: 1px _theme_main_dark_color_ solid;
}

.main img {
	margin: 4px;
	max-width: 100%;
	letter-spacing: 1px;
	color: _theme_text_color_;
}

.main img:after {
	content: _error_img_load_text_;
}

.main img::after {
	content: _error_img_load_text_;
}
.card {
	display: inline-block;
	background: _theme_main_light_color_;
	padding: 16px;
	border: 1px solid _theme_main_dark_color_;
	border-bottom: 5px solid _theme_main_dark_color_;
	height: auto;
	cursor: pointer;
}
.card:hover {
	background: _theme_main_dark_color_;
}
.card.nohover:hover {
	background: _theme_main_light_color_;
	cursor: default;
}
.card .link {
	display: block;
	font-size: 120%;
	text-decoration: none!important;
	font-weight: bold;
	margin-bottom: 8px;
}
.card .img-placeholder {
	overflow:hidden;
	text-align:center;
	width: 100%;
	width: calc(100% + 32px);
	margin: -16px;
	margin-bottom: 8px;
	max-height: 250px;
	border-bottom: 5px solid _theme_last_bg_color_;
}
.card .img-placeholder img {
	padding: 0px;
	margin: 0px;
	margin-bottom: -6px;
	width: 100%;
}
.emoji{
    width: 1em;
    height: 1em;
    border: none;
    vertical-align: middle;
    margin: 0px 1px!important;
}
.icon{
    width: 1em;
    height: 1em;
    border: none;
    vertical-align: middle;
    margin: 0px 1px!important;
}

.right_block{
	border: 1px solid #004184;
	border-bottom: 5px solid #004184;
	background: _theme_main_light_color_;
	margin-bottom:16px;
}
.right_block h1{
	font-size:125%;
	margin-top: 0px;
}
.right_block a.li{
	font-size:125%;
	display:block;
	width:auto;
}
.right_block a.li:before{
	content: '► ';
}
.mark_block {
	border: 1px solid #004184;
	border-bottom: 5px solid #004184;
	background: _theme_main_light_color_;
}
.addmark{
	border: 2px solid #004184;
	border-bottom: 10px solid #004184;
	background: _theme_main_light_color_;
}
.coment{
	display:block;
	margin: 8px 0px;
	padding: 0px 8px;
	border-left: 5px solid _theme_main_dark_color_;
}
.arrow{
	padding: 8px;
}
.mark{
	float:right;
	font-size:130%;
	padding:8px;
	margin:-16px;
	background: #CB2237;
}
.mark_block time{display:block;}
.m1{
	background: #CB2237;
}
.m2{
	background: #DC3338;
}
.m3{
	background: #EA4438;
}
.m4{
	background: #F25437;
}
.m5{
	background: #E46538;
}
.m6{
	background: #D37738;
}
.m7{
	background: #C58837;
}
.m8{
	background: #B59936;
}
.m9{
	background: #A7AC38;
}
.m10{
	background: #97BA38;
}
.m11{
	background: #88CC37;
}
.m12{
	background: #7ADC37;
}
.m13{
	background: #7ADC37;
}


.footer {
	height: auto;
	display: block;
	background: _theme_main_light_color_;
	color: _theme_text_color_;
	border-radius: 0px;
	border-bottom: 5px _theme_main_dark_color_ solid;
}
.footer a {
	display: inline-block;
	margin: 0.35em;
	margin-bottom: 0px;
}
footer iframe {
	width: 234px;
	height: 60px;
	border: 0px;
	padding: 0;
	overflow: hidden;
	background: _theme_main_light_color_;
}
.ad_wrapper {
	width: 234px;
	height: 60px;
	text-align: center;
	padding: 0;
	overflow: hidden;
	float: right;
	max-width: 100%;
	background: _theme_main_light_color_;
	border: 1px _theme_main_dark_color_ solid;
	border-radius: 0px;
}


.share-wrapper {
	z-index: 3;
	position: fixed;
	left: 0px;
	height: auto;
	max-height: 64px;
}

.share-btn {
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	height: 48px;
}

.share-btn img {
	height: auto;
	max-height: 100%;
}
.share-btn.vk {
	background: #45668e;
}

.share-btn.fb {
	background: #3b5998;
}

.share-btn.tw {
	background: #00aced;
}

.share-btn.ok {
	background: #d57819;
}

.share-btn.gp {
	background: #dd4b39;
}