DirectoryIndex index.php index.cgi index.html
ErrorDocument 401 "Unauthorized"
ErrorDocument 403 "Forbidden"

Header add "Cache-Control" "max-age=3600" env=VERSIONED_FILE
RewriteEngine On
RewriteRule ^(.*).db$ fake-db.txt [L,QSA]